@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {margin: 0; padding:0px;border: 0; -webkit-appearance: none;font-family: 'Poppins', sans-serif; text-decoration: none; font-weight: 0; box-sizing: border-box;}


.page-container{
    grid-template-rows: 1fr 1fr 1fr 100px 80px; 
    background-image: url(./img/smoke_background.jpg);
    background-size: cover;
    
    
}
.navbar {  background-color: rgb(252, 252, 252);}
.navbar-container {margin: 0 15%; justify-content: space-between;}
.navbar-items {grid-template-columns: 1fr 1fr 1fr 1fr;}
#logo {font-size: 25px;}
.panier {background-color: #F4AF60; border-radius: 10px;}
.panier:active {background-color: rgb(201, 112, 115);}
.header {grid-template-columns: 1fr 1fr;margin: 0 15% ; padding-top: 50px;}
.header-container{grid-template-rows: 200px 100px 100px 100px; padding-top: 15%}

.header-img-container {padding-left: 100px;}
.header-img-container img {height: 15%;}
.header-butt-container { background-color: #F4AF60; border-radius: 10px; width: 350px; height: 80px; cursor: pointer;}
.header-butt-container:hover { background-color: rgb(201, 112, 115);}
#header-butt {background-color: transparent; font-size: 25px;}


@media screen and (min-width : 0px) and (max-width : 800px) {

    

}