@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {margin: 0; padding:0px;border: 0; -webkit-appearance: none;font-family: 'Roboto', sans-serif; text-decoration: none; font-weight: 0; box-sizing: border-box;}
html, body {overflow-x: hidden; width: 100vw; height: 100vh; overflow-y: scroll;}


/* <!-- ************************************************
***********************NAVBAR********************
************************************************ --> */
.navbar {
    background-color: rgba(255, 255, 255, 0.966);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 100;
    height: 80px;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    height: 80px;
   
  

}
.logo {
    height: 70%;
}

.navbar-items {
    display: flex;
    font-size: 14px;
}
.navbar-item:hover {
  color: #00C3A5;
}


.navbar-mobile {
    display: none;
}

/* <!-- ************************************************
***********************UPPER-HEADER********************
************************************************ --> */

.page-container{
    grid-template-rows: 1fr 1fr 1fr 150px; 
    height: 100vh;
    width: 100vw;
    padding-top: 3%;
}

.list {display: none; width: 220px; height: 180px ;background-color: white; grid-template-rows: 30px 30px 30px 30px 30px; right: 0; top: 30px; position: absolute;}
.list-item {color: #a3a3a3; padding: 8px; cursor: pointer;}
.list-item:hover {color: #00C3A5}
.list-container:hover .list {display: block;}
.list-container {display: block; position: relative;}
/* <!-- ************************************************
***********************UPPER-HEADER********************
************************************************ --> */

.upper-header {
    grid-template-rows: 150px 200px 1fr 0.5fr;
    margin: 0 15%;
    
    
}
.header-title {font-size: 30px; font-weight: 100;}

.upper-header img {
    height: 40px;
}

.text-sections {
    grid-template-columns: 1fr 1fr;
   
    
}

.regular-text {
    color: rgb(122, 122, 122);
    font-size: 16px;
    line-height: 1.6
}
.small-regular-text {
    color: rgb(122, 122, 122);
    font-size: 15px;
    line-height: 1.6
}

.box-section {
  
    display: flex;
    justify-content: space-between;
}


.box-container {
    grid-template-rows: 1fr 60px ;
    font-size: 20px;
}

.box {
    width: 290px!important;
    height: 350px;
    border-radius: 5px;
}

.country-list {display: none; width: 250px; height: 260px; position: absolute; background-color: white; margin-bottom: 100%; right: 32%;}
.country-list-third {display: none; width: 200px; height: 150px; position: absolute; background-color: rgb(255, 255, 255);  right: 42%; margin-top: 60%;}
.country-list-specialists {display: none; width: 200px; height: 130px; position: absolute; background-color: rgb(255, 255, 255);  right: 42%; margin-top: 30%;}
.country-item {text-decoration: none; font-size: 15px; }
.country-item:hover {background-color: #4B8CE0; color: black; }
.country-list-container:active .country-list {display: block; position: relative}
.country-list-container-third:active .country-list-third {display: block; position: relative}
.country-list-container-specialists:active .country-list-specialists {display: block; position: relative}


.footer-upper-header{
    grid-template-columns: 300px 1fr;
}

.upper-header-logos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.upper-header-logos img {
    height: 22px;
}




/* <!-- ************************************************
***********************LOWER-HEADER********************
************************************************ --> */
.lower-header {
    background-image: url("../img/lower-header-01.png");
    background-size: cover;
    display: grid;
   
    height: 700px;
}
.lower-header-container {margin: 0 15%;; display: flex; justify-content: space-between;}
#lower-header-text-section {padding-bottom: 80%; width: 400px;}
.lower-header-box-section {
    grid-template-columns: 1fr 1fr;
    
}


.lower-header-box {
    width: 250px;
    height: 280px;
    background-color: white;
    border-radius: 5px;
    
}





/* <!-- ************************************************
***********************MAIN-CONTAINER********************
************************************************ --> */


.main-container {grid-template-rows: 300px 1fr 100px;
    margin: 0 15%;}


.container-header {
    grid-template-rows: 1fr 1fr;
    text-align: center;
    
    margin: 0 15%;
    
}

.card-box {
    width: 312px;
    height: 340px;
    border: 1px solid rgba(128, 128, 128, 0.11);
    
    border-radius: 10px; 
    background-repeat: no-repeat;

}
.cards-section {
    grid-template-columns: 1fr 1fr 1fr;
}
.card-box:hover  {
    box-shadow: 4px 4px 20px rgba(163, 159, 159, 0.549)  
}

.card-menu{
    background-color: #3d83df;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    font-size: 12px;
}

.card-menu:hover{
    background-color: #285b9e;

}

.footer-card {
    padding-top: 95%;
}
.container-footer {
    padding-top: 15%;
}

.container-footer-menu {
    background-color: #3d83df;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
}
.container-footer-menu:hover {
    background-color: #285b9e;

}


.page-footer {
    
    border-top: solid 1px rgba(218, 218, 218, 0.479);
    position: relative;
    margin-top: 10%;
    /* margin: 10% 23% 0 23%; */
}
#page-footer-container {
    grid-template-rows: 50px 50px; margin: 0 15%;;
}
.upper-header-logos-mobile{display: none;}

/* <!-- ************************************************
***********************RESPONSIVE********************
************************************************ --> */
@media screen and (min-width : 0px) and (max-width : 850px) {
    
    .navbar-mobile{display: flex; justify-content: space-between; position: fixed; background-color: rgba(255, 255, 255, 0.966); z-index: 500; width: 100%;}
    .navbar-mobile-container {display: flex; justify-content: space-between;}
    .navbar-mobile-container img {height: 40px;}
    .navbar {display: none;}
    .page-container{
        grid-template: 1fr 1fr 1fr 1fr / 1fr; 
        display: grid;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding-top: 20%;}
        .box {
            width: 350px;

        }
    .upper-header{margin: 0; 
        padding: 10px;     
        grid-template: 150px 200px 1fr 0.3fr / 1fr;
        place-items: center;} 
    .upper-header img {height: 45px;}
    .header-title {font-size: 30px; text-align: center;}
    .text-sections {grid-template: 1fr 1fr / 1fr; display: grid; padding-top: 50%; gap: 40px;} 
    .box-section {display: grid ;grid-template: 1fr 1fr / 1fr; gap: 20px; place-items: center; padding-top: 50%;
    }
    .country-list-specialists {margin-top: 10%;}
    .footer-upper-header{grid-template: 100px 1fr / 1fr;}
    
    .upper-header-logos {display: none;}
    .upper-header-logos-mobile{display: grid; grid-template: 80px 80px 80px 80px  / 1fr 1fr;gap: 0;}
    .upper-header-logos-mobile img {height: 30px;
    }

    .lower-header {
        background-image: url("../img/lower-header--mobile-01.png");
        background-size: cover;
        background-repeat: no-repeat;
        grid-template: 1fr 1fr / 1fr;
        height: 850px;
        margin: 0;
        width: 100vw;
      
    }
    .lower-header-container {margin: 0; display: grid;}

    #lower-header-text-section {padding: 0; margin: 0; text-align: center;}
        
    .lower-header-box-section {
        display: grid;
        grid-template: 1fr/1fr 1fr;
        padding: 10px 0px 10px 0px;
        margin-left: 3%;
        
    }
    .lower-header-box-container {
        grid-template-rows: 320px 320px;
        gap: 10px;
        
        
        
    }
    .lower-header-box {
        width: 165px;
        height: 280px;
        background-color: white;
        padding: 5px;
        gap: 0px;
    }
    .main-container {grid-template: 300px 1fr 250px / 1fr;
        margin: 0}

    .container-header {
            grid-template: 1fr 1fr / 1fr;
            text-align: center;
            margin: 0;

        }

    .cards-section {
            display: flex;
            overflow-x: scroll;
            width: 100vw;
            padding-left: 50px;
            
           
        }
 
    .cards-section::-webkit-scrollbar { width: 10;}
    .card-box {
        width: 312px;
        height: 340px;
        border: 1px solid rgba(128, 128, 128, 0.11);
        
        border-radius: 10px; 
        background-repeat: no-repeat;
        display: flex;
        
    
    }
    .image-container {width: 300px;}
 
    .page-footer {
        display: grid; padding-top: 10%; text-align: center; width: 100vw;
        
    }    
    #page-footer-container {
        grid-template-rows: 100px 100px; margin: 0; gap: 10px;
    }
}

@media screen and (min-width : 850px) and (max-width : 1600px) {

    .navbar-container {margin: 0 15%;}
    .upper-header {margin: 0% 15%;}
    .lower-header-container {margin: 0% 15%;}
    #lower-header-text-section {padding-bottom: 80%; width: 350px;}
    .main-container {margin: 0% 15%;}       
    .container-header {margin: 0 15%;}
    .box {width: 280px; height: 380px; gap: 30px;}
    .lower-header-box-section {padding-right: 0 ;    }
    .lower-header-box {width: 200px;}


}
